<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am currently studying for a master’s degree in statistics at Ewha womens University, Seoul, South Korea. I am interested in various applications based on statistics, and I have a strong desire to learn a new field. In particular, I am interested in Statistical Machine Learning, Deep Learning, and XAI.
            </p>
            
            <p class="paragraph-text justify-text">
                I always have the keywords “why?” and “simple explanation”. First, the question “Why?” gives me good inspiration. And this is the engine of my growth. Second, I like the saying "If you can't explain it simply, you don't understand it well enough."
            </p>
            
            <p class="paragraph-text justify-text">
                I currently started a blog at <a href="{{site.blog_url}}">Young-hee's Tech Blog<a>, where I will write about my recent interests and other activities. I post my data analysis project on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the bottom of this page.
                
            </p>
        </div>
    </section>
</div>
