<!--Origin Theme-->
<!--<div class="section-wrapper">
    <section class="section" id="blog-posts">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">Careers</div>
            <div class="blogs-wrapper" id="rss-feeds"></div>
        </div>
    </section>
</div>-->


<div class="section-wrapper">
  <div class="wrapper">
    <div class="center-line">
      <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-star"></i>
        <div class="details">
          <span class="title">Title of Section 1</span>
          <!--<span>1st Jan 2021</span>-->
        </div>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <!--<a href="#">Read more</a>-->
          <i>Jul.2022 ~ Dec.2022</i>
        </div>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fas fa-star"></i>
        <div class="details">
          <span class="title">Title of Section 2</span>
          <!--<span>2nd Jan 2021</span>-->
        </div>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <!--<a href="#">Read more</a>-->
          <i>Mar.2022 ~ May.2022</i>
        </div>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-star"></i>
        <div class="details">
          <span class="title">Title of Section 3</span>
          <!--<span>3rd Jan 2021</span>-->
        </div>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <!--<a href="#">Read more</a>-->
          <i>Jan. 2022 ~ Mar. 2022</i>
        </div>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fas fa-star"></i>
        <div class="details">
          <span class="title">Title of Section 4</span>
          <!--<span>4th Jan 2021</span>-->
        </div>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <!--<a href="#">Read more</a>-->
          <i>Feb. 2022 ~ Mar. 2022</i>
        </div>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-star"></i>
        <div class="details">
          <span class="title">Title of Section 5</span>
          <!--<span>5th Jan 2021</span>-->
        </div>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <!--<a href="#">Read more</a>-->
          <i>Mar.2021 ~ Jun.2021</i>
        </div>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fas fa-star"></i>
        <div class="details">
          <span class="title">Title of Section 6</span>
          <!--<span>6th Jan 2021</span>-->
        </div>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <!--<a href="#">Read more</a>-->
          <i>Jan. 2021 ~ Feb 2021</i>
        </div>
      </section>
    </div>
  </div>
 </div>
