<!--Origin Theme-->
<!--<div class="section-wrapper">
    <section class="section" id="blog-posts">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">Careers</div>
            <div class="blogs-wrapper" id="rss-feeds"></div>
        </div>
    </section>
</div>-->


<!--*******************************************************************************-->



<div class="section-wrapper">
<section class="section" id="blog-posts">
    <div class="full-width">
    <div class="section-heading" >Careers</div>
      <div class="wrapper-line">
        <div class="center-line">
          <!--bottom icon roles scroll up to 1st-box(div tag, id's value)-->
          <a href="#1st-box" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
        </div>


        <div class="row row-1" id='1st-box'>
          <section>
            <i class="icon fas fa-star"></i>
            <div class="details">
              <span class="title">Teaching Assistant</span>
            </div>
            <p>Collaborating with four different TAs, I reviewed and gave feedback on the R code of 129 students during 10 assignments and scored their homework. (At Introduction to Computer Programming lecture)</p>
            <div class="bottom">
              <i>Mar. 2022 ~ Jun. 2022</i>
            </div>
          </section>
        </div>
          
          
        <div class="row row-2">
          <section>
            <i class="icon fas fa-star"></i>
            <div class="details">
              <span class="title">deep daiv</span>
            </div>
            <p>Cloud funding for the publication of magazines for non-majoring in artificial intelligence, and the result was 1191% of the target amount. I was a manager of the project.</p>
            <div class="bottom">
              <i>Dec. 2021 ~ Mar. 2022</i>
            </div>
          </section>
        </div>
        
          <div class="row row-1">
          <section>
            <i class="icon fas fa-star"></i>
            <div class="details">
              <span class="title">BioStatistics Lab</span>
            </div>
            <p>As an undergraduate research student, I did the following various things. <br/>- Created IMa3 dashboard.<br/>- Linux-based supercomputing implementation for simulation analysis.<br/>- Assist OTU analysis research.<br/>- Reviewed the various paper about Biostatistics.<br/>- Book Club Presentor.<br/></p>
            <div class="bottom">
              <i>Sep. 2020 ~ Feb. 2022</i>
            </div>
          </section>
        </div>


        <div class="row row-2">
          <section>
            <i class="icon fas fa-star"></i>
            <div class="details">
              <span class="title">Statistical Learning Lab</span>
            </div>
            <p> Participated in an industry-academic cooperation project with a cosmetics company as the first prize in the Capstone competition. I was a principal data scientist for the NLP project. </p>
            <div class="bottom">
              <i> Mar. 2021 ~ Jun. 2021</i>
            </div>
          </section>
        </div>




        </div> <!--wrapper-line-->
      </div> <!--full-width-->
     </section>
</div>

